/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

html {
	scroll-behavior: smooth;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

header section {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	scroll-behavior: smooth;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	gap: 72px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;

}

#portfolio .modification {
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	margin-bottom: 3rem;
	gap: 31px;
}

.filtres {
	display: flex;
	justify-content: center;
	gap: 1em;
	margin-bottom: 2em;
}

.btn-filtre {
	border-radius: 60px;
	border: 1px solid #1D6154;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #1D6154;
	height: 37px;
	min-width: 100px;
}

.filtres button:hover {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}

.btn-selected {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#modal1 img {
	height: 100%;
	width: 78.12px;
}

.modal figure {
	width: fit-content;
	height: fit-content;
}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#contact>*,
#login>* {
	text-align: center;

}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input,
#modal2 input,
#modal2 select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label,
#modal2 label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login a p {
	text-decoration: underline;
	text-align: center;
}

#login input[type="submit"],
#contact input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	height: 36px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

#login input[type="submit"]:hover,
#contact input[type="submit"]:hover,
.bottom-modal button:hover {
	background-color: #0E2F28;
}

.showMdp {
	display: flex;
	justify-content: center;
	align-items: center;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.bold {
	font-weight: 600;
}

#loginBanner {
	width: 100%;
	height: 59px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#loginBanner a {
	cursor: pointer;
}

.btn-edition {
	border: none;
	background-color: black;
	color: white;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

.btn-publier {
	background: #FFFFFF;
	border-radius: 60px;
	height: 38px;
	width: 216px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #000000;
}

.btn-modifier {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 16px;
	text-align: center;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

/*MODAL*/
.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	animation: fadeIn .3s both;
}

.modal-wrapper,
.modal-wrapper2 {
	background-color: white;
	width: 630px;
	height: fit-content;
	padding: 60px 0px 48px 0px;
	animation: slideFromTop .5s both;
	border-radius: 10px;
}

.modal[aria-hidden="true"],
.modal2[aria-hidden="true"] {
	animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper,
.modal[aria-hidden="true"] .modal-wrapper2 {
	animation-name: slideToBottom;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slideFromTop {
	from {
		transform: translateY(-50px);
	}

	to {
		transform: translateY(0px);
	}
}

@keyframes slideToBottom {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(50px);
	}
}

.js-close-modal {
	position: absolute;
	z-index: 1;
	border: none;
	background-color: transparent;
	top: 20px;
	right: 20px;
	font-size: 25px;
	cursor: pointer;
	padding: 0;
}

.js-close-modal:hover {
	transform: scale(1.15);
}


#modal1 h3 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
}

.bottom-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 23px;
	height: 20%;
	padding-top: 30px;
}

.bottom-modal a {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border: none;
	width: 237px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	cursor: pointer;
}

.bottom-modal p {
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #D65353;

}

hr {
	width: 420px;
}

#modalGallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 6px;
	width: fit-content;
	padding: 46px 100px 40px 100px;
}

#modalGallery figure {
	position: relative;

}

#modalGallery figure .buttonContainer {
	position: absolute;
	top: 5px;
	right: 4px;
	width: fit-content;
	height: fit-content;
	display: flex;
	gap: 3px;
}

#modalGallery figure button {
	width: 17px;
	height: 17px;
	background-color: black;
	border: none;
	border-radius: 2px;
	padding: 0;
	cursor: pointer;
}

.trashIcon {
	width: 9px !important;
	height: 9px !important;
}

.moveIcon {
	width: 11.12px !important;
	height: 11.12px !important;
	margin-top: 3px;
}

.editerStyle {
	cursor: pointer;
	font-weight: 400;
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 10px;
	width: fit-content;
}

.highlighted-blue {
	outline: 3px solid rgb(83, 83, 216);
}

.highlighted-red {
	opacity: 45%;
}

/*Modal2*/
#modal2 .modal-wrapper2 {
	height: 670px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#modal2 .arrowLeft {
	position: absolute;
	top: 30px;
	left: 30px;
	border: none;
	background: transparent;
}
#modal2 .arrowLeft:hover{
	transform: scale(1.15);
}

#modal2 h3 {
	padding-bottom: 36px;
	padding-top: 10px;
	font-size: 26px;
	font-weight: 400;
}

#modal2 #fileImg {
	background: #E8F1F7;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 1.5rem 0 1.5rem 0;
	width: 420px;
}

#modal2 #fileImg input[type=file] {
	display: none;
}

#modal2 #fileImg label#addFile {
	font-family: "Syne";
	color: white;
	background-color: #CBD6DC;
	margin: 2em auto;
	padding: 0 2.5rem;
	text-decoration: none;
	text-align: center;
	border-radius: 60px;
	transition: 0.2s;
	height: 36px;
	font-size: 0.875rem;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: #306685;
	display: flex;
	align-items: center;
}

#modal2 #fileImg #preview img {
	width: 200px;
}

#modal2 #fileImg p {
	font-family: "Work Sans";
	font-size: 10px;
}

#modal2 #fileImg i {
	font-size: 5rem;
	color: #B9C5CC;
}

#modal2 #formChoix {
	display: flex;
	flex-direction: column;
}

#modal2 #formChoix #form-forget {
	display: none;
}

#modal2 hr {
	margin-top: 47px;
}

#send {
	margin-top: 32px;
	border-radius: 60px;
	font-family: "Syne";
	color: white;
	background-color: #a7a7a7;
	margin: 2em auto;
	padding: 0 2.5rem;
	text-decoration: none;
	text-align: center;
	border-radius: 60px;
	transition: 0.2s;
	height: 40px !important;
	width: 237px;
	font-size: 0.875rem;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	display: flex;
	align-items: center;
	justify-content: center;

}

#modal2 .arrowLeft,
#send,
label#addFile {
	cursor: pointer;
}